<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.1.1/css/all.css"
      integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ"
      crossorigin="anonymous"
    />
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
      integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/assets/css/profile/profile.css" />

    <title>Fokus.in</title>
  </head>
  <body>
    <div class="container">
      <!-- profile title -->
      <%- include (`navbar.ejs`) %>
      <hr class="pemisah" />
      <div class="row mt-3">
        <div class="col-3" style="padding: 0; padding-top: 15px">
          <!-- Sidebar Profile -->
          <%- include (`sidebar.ejs`) %>
        </div>

        <!-- isi kontem -->
        <div class="col">
          <h2>Ubah Password</h2>
          <!-- form -->
          <div class="form-edit mt-4">
            <form>
              <!-- value can change with value of database -->
              <div class="row">
                <!-- Password lama -->
                <div class="col-12">
                  <div class="form-group">
                    <label class="text-secondary" for="passwordOld"
                      >Password lama</label
                    >
                    <input
                      style="width: 75%"
                      type="password"
                      class="form-control input-form"
                      id="passwordOld"
                      name="passwordOld"
                    />
                  </div>
                </div>

                <!-- Password Baru -->
                <div class="col-12 mt-2">
                  <div class="form-group">
                    <label class="text-secondary" for="passwordBaru"
                      >Password baru</label
                    >
                    <input
                      style="width: 75%"
                      type="password"
                      class="form-control input-form"
                      id="passwordBaru"
                      name="passwordBaru"
                    />
                  </div>
                </div>

                <!-- confirm password -->
                <div class="col-12 mt-2">
                  <div class="form-group">
                    <label class="text-secondary" for="confirmPassword"
                      >Konfirmasi Password Baru</label
                    >
                    <input
                      style="width: 75%"
                      type="password"
                      class="form-control input-form"
                      id="confirmPassword"
                      name="confirmPassword"
                    />
                  </div>
                </div>
                <div class="col-12">
                  <p class="text-secondary">
                    Pastikan setidaknya 15 karakter atau minimal 8 karakter yang
                    terdiri atas kombinasi angka <br />
                    dan huruf.
                    <a style="color: #fa9e57" href="">Pelajari Lebih Lanjut</a>
                  </p>
                </div>

                <div class="col-3">
                  <button
                    type="submit"
                    class="btn btn-edit text-white"
                    style="width: 100%"
                  >
                    Perbarui Password
                  </button>
                </div>
                <div class="col pt-2">
                  <a style="color: #fa9e57" href="">Lupa Password?</a>
                </div>
              </div>
            </form>
          </div>
        </div>

        <!-- end konten -->
      </div>
    </div>

    <!-- footer -->
    <%- include(`footer.ejs`) %>
  </body>
</html>
