<nav id="sidebarMenu" class="sidebar">
    <div class="sidebar-sticky pt-3">
        <p class="d-flex justify-content-center align-items-center">
            <a href="#">
            <img src="img/logo-white.svg" alt="home">
            </a>
        </p>
        <ul class="nav nav-pills flex-column mx-4">
            <li class="nav-item mb-2">
                <a class="nav-link active" href="#">
                <img src="img/sidebar/home.svg" class="mr-3 icon-sidebar" alt="">
                Home <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item mb-2">
                <a class="nav-link" href="#">
                <img src="img/sidebar/check-circle.svg" class="mr-3 icon-sidebar" alt="">
                Goal
                </a>
            </li>
            <li class="nav-item mb-2">
                <a class="nav-link" href="#">
                <img src="img/sidebar/clipboard.svg" class="mr-3 icon-sidebar" alt="">
                To Do
                </a>
            </li>
            <li class="nav-item mb-2">
                <a class="nav-link" href="#">
                <img src="img/sidebar/calendar.svg" class="mr-3 icon-sidebar" alt="">
                Kalender
                </a>
            </li>
        </ul>
        
    </div>
</nav>
