<nav id="sidebarMenu" class="col-2 sidebar">
    <div class="sidebar-sticky pt-3">
        <p>
            <a href="#">
            <img src="img/logo-white.svg" alt="home">
            </a>
        </p>
        <ul class="nav nav-pills flex-column mx-4">
        <li class="nav-item mb-2">
            <a class="nav-link active" href="#">
            <img src="img/sidebar/home.svg" class="mr-3" alt="">
            Home <span class="sr-only">(current)</span>
            </a>
        </li>
        <li class="nav-item mb-2">
            <a class="nav-link" href="#">
            <img src="img/sidebar/check-circle.svg" class="mr-3" alt="">
            Goal
            </a>
        </li>
        <li class="nav-item mb-2">
            <a class="nav-link" href="#">
            <img src="img/sidebar/clipboard.svg" class="mr-3" alt="">
            To Do
            </a>
        </li>
        <li class="nav-item mb-2">
            <a class="nav-link" href="#">
            <img src="img/sidebar/calendar.svg" class="mr-3" alt="">
            Kalender
            </a>
        </li>
        </ul>
        
    </div>
</nav>
